<h1>Contacts</h1>

<ul>
  <% @contacts.each do |contact| %>
    <li>
      Name: <%= contact.name %> <br>
      Company: <%= contact.company %> <br>
      Phone: <%= contact.phone %> <br>
      Email: <%= contact.email %> <br>
    </li><br><br>
  <% end %>
</ul>

<a href="contacts/new">Add a new contact</a>